{% extends "layout.html" %}

{% block page_title %}
  Change your email
{% endblock %}

{% block content %}

{% set address = data.address | default('test@example.com') %}
{% set subscriptions = data.subscriptions | default([]) %}
{% set weekly_digest = data.weekly_digest | default('separately') %}

<main id="content" role="main" class="manage">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Change your email address
      </h1>

      <script>
        if (window.location.href.indexOf("saved") !== -1) {
          document.write('<p class="saved-successfully">Your email change has been saved.</p>');
        }
      </script>

      <h2 class="heading-large">Current email address</h2>
      <p class="">{{ address }}</p>

      <h2 class="heading-large">New email address</h2>
      <div class="form-group">
         <input class="form-control" id="email-f1" type="email" name="full-name-f1">
      </div>

      <script>
        function buttonURL(){
           var varEmail= document.getElementById('email-f1').value;
           var varButtonURL = '/email-change-2'+'?address='+varEmail;
           window.location.href = varButtonURL;
        };
      </script>


      <div class="form-group">
         <button onclick="buttonURL()" id="next" class="button">Save</button>
      </div>

      <!-- <h2 class="heading-large">Account settings</h2>

      <form method="get" action="/manage">
        <input type="hidden" name="saved" value="true">

				<div class="form-group">
					<fieldset>
						<legend>
              <h2 class="heading-medium">Change your digest settings</h2>
						</legend>
						<div class="multiple-choice">
							<input
								id="weekly-separately"
								type="radio"
								name="weekly_digest"
                {% if weekly_digest === "separately" %}
                  checked="checked"
                {% endif %}
								value="separately">
							<label for="weekly-separately">Separate emails (by topic)</label>
						</div>
						<div class="multiple-choice">
							<input
								id="weekly-combined"
								type="radio"
								name="weekly_digest"
                {% if weekly_digest === "combined" %}
                  checked="checked"
                {% endif %}
								value="combined">
							<label for="weekly-combined">One combined email</label>
						</div>
					</fieldset>
          <input type="submit" class="button done" value="Save settings"></input>
				</div>
			</form>

      <form action="/manage">
        <input type="hidden" name="saved" value="true">

        <div class="form-group">
          <fieldset>
            <legend>
              <h2 class="heading-medium">
                Change your email address
              </h2>
            </legend>

            <label class="form-label" for="contact-email">Email address</label>
            <input class="form-control" type="text" id="address" name="address">
          </fieldset>
          <input class="button done" type="submit" value="Update email address">
        </div>
      </form> -->
    </div>
  </div>
  <a class="back-to-home" href="/">Back to homepage</a>
</main>

{% endblock %}
